{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1 class="ml-1">Create a new page</h1>

    {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <form class="ml-2" action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div>
                {{ form.title.errors }}
            </div>
            <div>
                {{ form.title.label_tag}}
            </div>
            <div>
                {{ form.title }}
            </div>
        </div>
        <div class="form-group">
            <div>
                {{ form.content.errors }}
            </div>
            <div>
                {{ form.content.label_tag }}
            </div>
            <div>
                {{ form.content }}
            </div>
        </div>
        <div class="form-group">
            <input type="submit">
        </div>
    </form>

{% endblock %}